.card {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: white;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid white;
}

.card h3 {
    font-size: 2rem;
    font-weight: 500;
    color: black;
    margin: 1rem;
    text-align: center;
}

.card p {
    font-size: 1rem;
    color: lightgrey;
    margin: 1rem;
    line-height: 1.5;
    text-align: center;
    background-color: purple;
    border-radius: 5px;
    color: black;
}

.card p:last-child {
    font-size: 1rem;
    color: lightblue;
    text-transform: uppercase;
    margin-top: 1rem;
}

.link{
    background-color: lightblue;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    color: white;
}